<h1>Información del personaje</h1>

<div *ngIf="character!=null; else espera">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-6">
        <img src="{{character.image}}" class="card-img-top" alt="..." >
      </div>

      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">Name: {{character.name}}</h5>
          <p class="card-text">id: {{character.id}}</p>
          <p class="card-text">Species: {{character.species}}</p>
          <p class="card-text">Gender: {{character.gender}}</p>
          <p class="card-text">Origin: {{character.origin}}</p>
          <p class="card-text"><small class="text-muted">Last updated 23 mins ago</small></p>
          <p class="btn btn-secondary margen" *ngIf="character.status" (click)="updateStatus(false)">Dead</p>
          <p class="btn btn-success margen" *ngIf="!character.status" (click)="updateStatus(true)">Alive</p>
          <p class="btn btn-danger" routerLink="/character"(click)="deleteCharacter()">Delete</p>
          <p class="card-text"><a routerLink="/character" class="btn btn-primary">Volver</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #espera>Esperando datos...</ng-template>
